<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.java.TestClass</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SITE4474</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SITE4492</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>gettingRequestDev</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario00</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tradesOnLastOffer1stNotAllAllowed34442</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>KR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario09</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procedureScenario06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tradesOnLastOfferAllAllowed34442</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>accreditation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>gettingRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>screenOnFail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
