<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c6f81">  <td>17/03/13 14:14:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario00()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario00</td> 
  <td>TestNG@2127963235</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/13 14:14:22</td>   <td>5273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestMethodBase.screenOnFail(org.testng.ITestResult)[pri:0, instance:test.java.TestClass@19e1023e]">&lt;&lt;screenOnFail</td> 
<td>&nbsp;</td>  <td>TestNG@2127963235</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/13 14:14:16</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMethodBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:test.java.TestClass@19e1023e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2127963235</td>   <td></td> </tr>
</table>
