<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.SITE4474()[pri:0, instance:test.java.TestClass@19e1023e]">SITE4474</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.SITE4492()[pri:0, instance:test.java.TestClass@19e1023e]">SITE4492</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.accreditation()[pri:0, instance:test.java.TestClass@19e1023e]">accreditation</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureLoadEditBlockCancel()[pri:0, instance:test.java.TestClass@19e1023e]">procedureLoadEditBlockCancel</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario00()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario00</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario01()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario01</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario02()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario02</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario03()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario03</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario04()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario04</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario05()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario05</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario06()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario06</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario07()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario07</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario08()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario08</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario09()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario09</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario10()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario10</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario11()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario11</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario12()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario12</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario13()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario13</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario14()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario14</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario15()[pri:0, instance:test.java.TestClass@19e1023e]">procedureScenario15</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.tradesOnLastOffer1stNotAllAllowed34442()[pri:0, instance:test.java.TestClass@19e1023e]">tradesOnLastOffer1stNotAllAllowed34442</td> 
  <td>main@105704967</td>   <td></td> </tr>
<tr bgcolor="73f772">  <td>17/03/30 16:48:19</td>   <td>460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.tradesOnLastOfferAllAllowed34442()[pri:0, instance:test.java.TestClass@19e1023e]">tradesOnLastOfferAllAllowed34442</td> 
  <td>main@105704967</td>   <td></td> </tr>
</table>
