<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>17/03/06 17:46:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClass.procedureScenario09()[pri:0, instance:com.example.tests.TestClass@343f4d3d]">procedureScenario09</td> 
  <td>TestNG@920445230</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/03/06 17:57:06</td>   <td>609063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestMethodBase.screenOnFail(org.testng.ITestResult)[pri:0, instance:com.example.tests.TestClass@343f4d3d]">&lt;&lt;screenOnFail</td> 
<td>&nbsp;</td>  <td>TestNG@920445230</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/03/06 17:46:54</td>   <td>-2468</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestMethodBase.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.example.tests.TestClass@343f4d3d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@920445230</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>17/03/06 17:57:06</td>   <td>609063</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestMethodBase.tearDown()[pri:0, instance:com.example.tests.TestClass@343f4d3d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@920445230</td>   <td></td> </tr>
</table>
